@media screen and (max-width: 700px) {
	* {transition: 0.4s ease-in-out; font-family: 'Montserrat', sans-serif;}
	.header-block {
		padding: 10px;
		border-bottom: 3px solid #cccccc;
	}
	.header-block > div:nth-of-type(1) {
		width: 250px;
		font-size: 20pt;
		letter-spacing: 1px;
		padding: 10px;
	}
	#header-search-input {
		width: 280px;
		padding: 8px;
		font-size: 16pt;
	}
	.temp-main-block {width: 510px;}
	#search-city-name {
		font-size: 18pt;
		letter-spacing: 1px;
	}
	.temp-main-block > div:nth-of-type(2) div:nth-of-type(1) {font-size: 24pt;}
	.temp-list {
		width: 510px;
		padding: 6px;
		font-size: 16pt;
		margin-top: -2px;
	}
	.temp-list > div div {padding: 10px;}
	.temp-recommendation-name {font-size: 18pt;}
	.temp-recommendation-block {
		width: 470px;
		border: 2px solid white;
		font-size: 16pt;
	}
	.temp-recommendation-block > div:nth-of-type(1) div {
		padding-left: 11px;
		font-size: 16pt;
	}
	.temp-recommendation-block > div:nth-of-type(2) div {
		width: 180px;
		padding: 8px;
		font-size: 16pt;
	}
	#temp-recommendation-update-btn {
		width: 280px;
		font-size: 18pt;
		letter-spacing: 1px;
	}
}

@media screen and (max-width: 540px) {
	* {transition: 0.4s ease-in-out; font-family: 'Montserrat', sans-serif;}
	.header-block {
		padding: 10px;
		border-bottom: 3px solid #cccccc;
	}
	.header-block > div:nth-of-type(1) {
		width: 250px;
		font-size: 20pt;
		letter-spacing: 2px;
		padding: 10px;
	}
	#header-search-input {
		width: 250px;
		padding: 8px;
		font-size: 14pt;
	}
	.temp-main-block {width: 420px;}
	#search-city-name {
		font-size: 16pt;
		letter-spacing: 1px;
	}
	#header-search-button-units {
		padding: 8px;
		width: 70px;
		font-size: 14pt;
	}	
	#header-search-button {
		letter-spacing: 1px;
		width: 90px;
		padding: 8px;
		font-size: 14pt;
	}
	.temp-main-block > div:nth-of-type(2) div:nth-of-type(1) {font-size: 22pt;}
	.temp-list {
		width: 420px;
		padding: 6px;
		font-size: 16pt;
		margin-top: -2px;
	}
	.temp-list > div div {padding: 8px;}
	.temp-recommendation-name {font-size: 16pt;}
	.temp-recommendation-block {
		width: 420px;
		border: 2px solid white;
		font-size: 14pt;
	}
	.temp-recommendation-block > div:nth-of-type(1) div {
		padding-left: 6px;
		font-size: 14pt;
	}
	.temp-recommendation-block > div:nth-of-type(2) div {
		width: 160px;
		padding: 8px;
		font-size: 14pt;
	}
	#temp-recommendation-update-btn {
		width: 240px;
		font-size: 16pt;
		letter-spacing: 1px;
	}
}

@media screen and (max-width: 465px) {
	* {transition: 0.4s ease-in-out; font-family: 'Montserrat', sans-serif;}
	.header-block {
		padding: 8px;
		border-bottom: 3px solid #cccccc;
	}
	.header-block > div:nth-of-type(1) {
		width: 250px;
		font-size: 20pt;
		letter-spacing: 2px;
		padding: 10px;
	}
	#header-search-input {
		width: 220px;
		padding: 6px;
		font-size: 14pt;
	}
	.temp-main-block {width: 420px; padding: 4px;}
	#search-city-name {
		font-size: 16pt;
		letter-spacing: 0px;
	}
	#header-search-button-units {
		padding: 8px;
		width: 50px;
		font-size: 14pt;
	}	
	#header-search-button {
		letter-spacing: 1px;
		width: 90px;
		padding: 8px;
		font-size: 14pt;
	}
	.temp-main-block > div:nth-of-type(2) div:nth-of-type(1) {font-size: 20pt;}
	.temp-main-block > div:nth-of-type(1) {font-size: 18pt;}
	.temp-main-block {width: 360px;}
	.temp-list {
		width: 360px;
		padding: 4px;
		font-size: 14pt;
		margin-top: -2px;
	}
	.temp-list > div div {padding: 6px;}
	.temp-recommendation-name {font-size: 14pt;}
	.temp-recommendation-block {
		width: 360px;
		border: 2px solid white;
		font-size: 14pt;
	}
	.temp-recommendation-block > div:nth-of-type(1) div {
		width: 230px;
		padding: 8px;
		padding-left: 6px;
		font-size: 14pt;
		letter-spacing: 0px;
		flex-grow: 2;
	}
	.temp-recommendation-block > div:nth-of-type(2) div {
		width: 100px;
		padding: 8px;
		font-size: 14pt;
		letter-spacing: 0px;
	}
	#temp-recommendation-update-btn {
		width: 200px;
		font-size: 16pt;
		letter-spacing: 0px;
	}
}


